body {
  background-color: rgb(235, 235, 235);
  font-family: 'Indie Flower', cursive;
  color: rgb(50, 50, 50);
}

#profile {
  height: 150px;
  width: 150px;
  border-radius: 75px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

div {
  background-color: rgb(250, 250, 250);
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  text-align: center;
}
.container {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 350px;
  margin-bottom: 20px
}

.actors_jpg {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

p, td {
  font-size: 13px;
}

a {
  color: rgb(150, 150, 150);
  text-decoration: none;
  text-align: justify;
}

a:hover {
  color:  #ca672a;
  font-size: 15px;
}

.logos-inline {
  font-size: 15px;
  color: rgb(150, 150, 150);
  text-decoration: none;
  list-style: none;
  padding: 2px;
}
 li {
  display: inline;
  text-align: center;
  padding: 5px;
 }

#sidebar_items {
  padding: 0;
}

.movie_jpg {
  width: 150px;
}

table {
  margin: 0 auto;
  padding: 1px;
}

#sidebar {
  position: fixed;
  width: 150px;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  padding: 2px;
}
/*#page-content {
  margin-left: 300px;
}*/
